@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Red+Rose:wght@300..700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root{
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit';
  user-select: none;
  /* background-color: #EEFFFE; */
  
}
body {
  background-color: #EEFFFE;
}
::-webkit-scrollbar {
  display: none;
}
.poppins {
  font-family: 'Poppins'
}
.redRose {
  font-family: 'Red Rose'
}
.auth-form {
  transition: transform 0.5s ease;
}

.slide-left {
  transform: translateX(0%);
}

.slide-right {
  transform: translateX(0%);
}
.slide-left-img {
  transform: translateX(0%);
}

.slide-right-image {
  transform: translateX(200%);
}

.auth-side {
  transition: order 0.5s ease;
}


